<div class="container">
	<div class="wrapper">
		<ul id="sb-slider" class="sb-slider">
			<li>
				<a href="assets/logo.jpg" target="_blank"><img src="assets/logo.jpg" alt="logo"/></a>
			</li>
			<li>
				<a href="assets/1.jpg" target="_blank"><img src="assets/deepo.jpg" alt="deepo"/></a>
				<div class="sb-description">
					<h3>Deepo</h3>
				</div>
			</li>
			<li>
				<a href="asstets/3.jpg" target="_blank"><img src="assets/icesmash.jpg" alt="icesmash"/></a>
				<div class="sb-description">
					<h3>IceSmash</h3>
				</div>
			</li>
			<li>
				<a href="assets/1.jpg" target="_blank"><img src="assets/roboracers.jpg" alt="roboracers"/></a>
				<div class="sb-description">
					<h3>RoboRacers</h3>
				</div>
			</li>
		</ul>
		<div id="nav-arrows" class="nav-arrows">
			<a href="#">Next</a>
			<a href="#">Previous</a>
		</div>

		<div id="nav-options" class="nav-options">
			<span id="navPlay">Play</span>
			<span id="navPause">Pause</span>
		</div>
	</div><!-- /wrapper -->
</div>

<!-- Hack to fix slicebox -->
 <img style="height:1px"src="/assets/blank.PNG">

<div class="row">
<% @games.each do |game| %>
  <div class="span4">
    <h2><%= link_to game.title, game %></h2>
		<p><%= raw game.about %></p>
    <p><%= link_to "View game", game, :class => "btn"  %></p>
  </div>
<% end %>
  <div class="span4">
    <h2>more to come</h2>
    <p>Our upcoming games will focus on new genres as well as multiplayer support. Follow us on Facebook to stay updated!</p>
  </div>
</div>
      
 <% content_for :bottom do %>
		
		<script type="text/javascript">
			$(function() {

				var Page = (function() {

					var $navArrows = $('#nav-arrows').hide(), $navOptions = $('#nav-options').hide(), $shadow = $('#shadow').hide(), slicebox = $('#sb-slider').slicebox({
						onReady : function() {

							$navArrows.show();
							$navOptions.show();
							//$shadow.show();

							},
							orientation : 'v',
							cuboidsCount : 9,
	     
					}), init = function() {

						initEvents();

					}, initEvents = function() {

						// add navigation events
						$navArrows.children(':first').on('click', function() {

							slicebox.next();
							return false;

						});

						$navArrows.children(':last').on('click', function() {

							slicebox.previous();
							return false;

						});

						$('#navPlay').on('click', function() {

							slicebox.play();
							return false;

						});

						$('#navPause').on('click', function() {

							slicebox.pause();
							return false;

						});

					};

					return {
						init : init
					};

				})();

				Page.init();

			});
		</script>
	<% end %>	