<div class="container">
	<div class="wrapper">
		<ul id="sb-slider" class="sb-slider">
			<li>
				<a href="assets/1.jpg" target="_blank"><img src="assets/1.jpg" alt="image1"/></a>
				<div class="sb-description">
					<h3>Creative Lifesaver</h3>
				</div>
			</li>
			<li>
				<a href="asstets/2.jpg" target="_blank"><img src="assets/3.jpg" alt="image2"/></a>
				<div class="sb-description">
					<h3>Honest Entertainer</h3>
				</div>
			</li>
		</ul>

		<div id="shadow" class="shadow"></div>

		<div id="nav-arrows" class="nav-arrows">
			<a href="#">Next</a>
			<a href="#">Previous</a>
		</div>

		<div id="nav-options" class="nav-options">
			<span id="navPlay">Play</span>
			<span id="navPause">Pause</span>
		</div>

	</div><!-- /wrapper -->
</div>

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit" id="logo" style="background-color:white; width:520px;margin-left:auto; margin-right:auto">
  <h1><img src="/assets/logo.png"></h1>
  <p><br/>arkavis siam Co., Ltd. is an upcoming game design studio, located in Bangkok Thailand. Our focus is in casual social games.</p><br/>
</div>

<!-- Example row of columns -->
<div class="row">
<% @games.each do |game| %>
  <div class="span4">
    <h2><%= link_to game.title, game %></h2>
		<p><%= raw game.about %></p>
    <p><%= link_to "View game", game, :class => "btn"  %></p>
  </div>
<% end %>
  <div class="span4">
    <h2>more to come</h2>
    <p>Our upcoming games will focus on new genres as well as multiplayer support. Follow us on Facebook to stay updated!</p>
  </div>
</div>
      
 <% content_for :bottom do %>
		
		<script type="text/javascript">
			$(function() {

				var Page = (function() {

					var $navArrows = $('#nav-arrows').hide(), $navOptions = $('#nav-options').hide(), $shadow = $('#shadow').hide(), slicebox = $('#sb-slider').slicebox({
						onReady : function() {

							$navArrows.show();
							$navOptions.show();
							//$shadow.show();

							},
							orientation : 'v',
							cuboidsCount : 9,
	     
					}), init = function() {

						initEvents();

					}, initEvents = function() {

						// add navigation events
						$navArrows.children(':first').on('click', function() {

							slicebox.next();
							return false;

						});

						$navArrows.children(':last').on('click', function() {

							slicebox.previous();
							return false;

						});

						$('#navPlay').on('click', function() {

							slicebox.play();
							return false;

						});

						$('#navPause').on('click', function() {

							slicebox.pause();
							return false;

						});

					};

					return {
						init : init
					};

				})();

				Page.init();

			});
		</script>
	<% end %>	