<h1>Blog posts</h1>

<% @posts.each do |post| %>
  
   <h2><%= link_to post.title, post_path(post) %></h2> 
   <p><%=  post.created_at.strftime("%B %d, %Y")%></p>
   
    <div class="post-body">
      <%=raw truncate( simple_format(post.body), :length => 200)%> <br /> 
    </div>
 	<hr />
   <% end %>

<br />
<%= paginate @posts %>
