// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.game-menu {
	float:left;
	width:200px;
}

.game-menu ul{
	padding:0px;
}

.game-menu ul li{
	list-style:none;
}

.game-content{
	float:left;
	width:800px;
	
}